p {
    color: #0000FF;
    font-size: 80pt;
}

h2 {
    color: #00ff00;
    font-size: 40pt;
}

#article-content {
    color: #ff0000;
    font-size: 60pt;
    /* margin-left: 200px; */
    /* margin: 0px 200px; */
    margin: 0px 0px 0px 200px;
    /* margin: 200px; */

    padding-left: 100px;
    border: 20px solid #0000ff;
    /* border-width: 20px;
            border-style: solid;
            border-color: #0000ff; */
    border-radius: 20px;
}

.highlight {
    background-color: #ffff00;
}

#about h2 {
    background-color: red;
}